services:
  app:
    build: .
    ports:
      - "5001:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=planetary
      - MAIL_USERNAME=your_mail_username
      - MAIL_PASSWORD=your_mail_password
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=planetary
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
