services:
  app:
    build: .
    ports:
      - "5001:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=planetary
      - MAIL_SERVER=mailpit
      - MAIL_PORT=1025
      - MAIL_USE_TLS=false
      - MAIL_USERNAME=
      - MAIL_PASSWORD=
    depends_on:
      - db
      - mailpit
    volumes:
      - .:/app

  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=planetary
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  db_data:
